<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarConteudo" aria-controls="navbarConteudo" aria-expanded="false" aria-label="Visualizar navegação">
      <span class="navbar-toggler-icon"></span>
      </button>  
      <h1  class="display-4">MedCheck</h1>  
    </div>
  </nav>
    <div class="container" id="formCadastrarPaciente">
      <h1 class="display-2 d-flex justify-content-center mt-3">Cadastrar Paciente</h1>
        <form class="was-validated">
            <div class="col-md form-group mb-2">
              <label for="nomePaciente">Nome do paciente:</label>
              <input type="text" class="form-control" placeholder="Digite o nome do paciente" id="nomePaciente" required>
              <div class="valid-feedback">Preenchido.</div>
              <div class="invalid-feedback">Por favor, preencha com o nome do paciente.</div>
          </div>
            <div class="col-md form-group mb-2">
              <label for="cpfPaciente">CPF:</label>
              <input type="text" class="form-control" placeholder="Digite o CPF do paciente" id="cpfPaciente" required>
              <div class="valid-feedback">Preenchido.</div>
              <div class="invalid-feedback">Por favor, preencha com o CPF do paciente.</div>
            </div>
            <div class="col-md form-group mb-2">
              <label for="leitoPaciente">Leito do paciente:</label>
              <input type="text" class="form-control" placeholder="Digite o número do leito do paciente" id="leitoPaciente" required>
              <div class="valid-feedback">Preenchido.</div>
              <div class="invalid-feedback">Por favor, preencha com o número do leito do paciente.</div>
            </div>
            <div class="col-md form-group mb-2">
              <label for="datainternPaciente">Data de internação:</label>
              <input type="date" class="form-control" placeholder="Digite a data de internação" id="datainternPaciente" required>
              <div class="valid-feedback">Preenchido.</div>
              <div class="invalid-feedback">Por favor, preencha com a data de internação.</div>
            </div>
            <div class="col-md form-group mb-2">
              <label for="dataaltaPaciente">Data da alta:</label>
              <input type="date" class="form-control" placeholder="Digite a data da alta" id="dataaltaPaciente">
          </div>
          <div class="row align-self-center container">
            <button type="submit" class="btn btn-outline-success mt-3">Cadastrar</button>
          </div>
        </form>
    </div>
</body>
</html>