<mat-list>
    <mat-list-item><h2>Nome</h2></mat-list-item>
    <mat-list-item><h3>Data de nascimento: </h3></mat-list-item>
    <mat-list-item><h3>Leito:</h3></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Temperatura: </strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Pressão: </strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Nível de evolução: </strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Problemas respiratórios: </strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Cansaço: </strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Alimentando bem? </strong></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><strong>Observações: </strong></mat-list-item>
    <mat-divider></mat-divider>

    <a mat-raised-button routerLink="/chat" routerLinkActive=mat-raised-button class="itemMenu">Chat</a>

</mat-list>
  