<mat-spinner *ngIf="estaCarregando"></mat-spinner>
<mat-accordion *ngIf="pacientes.length>0 && !estaCarregando">
  <mat-expansion-panel *ngFor="let paciente of pacientes">
    <mat-expansion-panel-header>{{ paciente.nomePaciente }}</mat-expansion-panel-header>
    <p> <strong>CPF: </strong>  {{ paciente.cpfPaciente }}</p>
    <hr />
    <p> <strong>Idade: </strong>  {{ getAge(paciente.idadePaciente)}}</p>
    <hr />
    <p> <strong>Leito: </strong>  {{ paciente.leito }}</p>
    <hr />
    <p> <strong>Data de internação: </strong>  {{ paciente.data_internacao }}</p>
    <hr />
    <p> <strong>Data de alta: </strong>  {{ paciente.data_alta }}</p>
    <mat-action-row>
      <button mat-button color ="accent" (click)="qualSenha(paciente.idPaciente, paciente.senha)">Senha de Acesso</button>
      <button mat-button color="primary" [routerLink]="['/editar',paciente.idPaciente]">Editar</button>
      <button mat-button color="warn" (click)="onDelete(paciente.idPaciente)">Remover</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="pacientes.length<=0 && !
estaCarregando">Nenhum paciente cadastrado</p>
